.card {
  user-select: none;
  width: 26vw;
  height: 12vw;
  display: flex;
  border: 2px solid rgb(155, 7, 27);
  border-radius: .5vw;
  gap: .5vw;
  color: rgb(80, 77, 77);
  font-size: 1vw;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: auto;
    height: 100%;
    border-radius: .4vw 0 0 .4vw;
    overflow: hidden;
  }

  &__info {
    padding-top: .7vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
    align-items: flex-start;

    &-name {
      color: rgb(155, 7, 27);
      font-size: 2vw;
      padding-top: 4vw;
    }
  }
}

.cards {
  width: 100%;
  margin-bottom: 5vw;
  &__inner {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.error-card {
  text-align: center;
  font-size: 2vw;
  color: rgb(155, 7, 27);
}