.form {
  width: 100%;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2vw;
  padding-right: 40vw;

  &__label {
    display: flex;
    gap: 1vw;
    align-items: center;
    font-size: 1vw;
  }

  &__btn {
    width: 15vw;
    height: 2vw;
  }
}

input {
  outline: none;
  border: .1vw solid rgb(94, 93, 93);
  font-size: 1vw;
}

#birthday, #name, #pet {
  width: 15vw;
  height: 2vw;
}

.form-card {
  width: 25vw;
  padding: .3vw;
  display: flex;
  gap: 1vw;
  border: 1px solid rgb(77, 75, 75);

  &__about {
    display: flex;
    flex-direction: column;
    gap: .7vw;
  }

  &__img {
    width: 10vw;
    height: 10vw;
  }

  &__name {
    text-transform: uppercase;
    letter-spacing: .1vw;
    font-weight: 600;
    font-size: 1.2vw;
  }
}

.card-list {
  margin: 5vw 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
  }
}