.header {
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 248);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner-links {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    width: 50%;
  }

  &__inner-link {
    text-decoration: none;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: 1.4vw;
    user-select: none;
    padding-left: .20vw;
    transition: color .2s linear;

    &:hover {
      color: rgb(155, 7, 27);
      border-bottom: .1vw solid rgb(155, 7, 27);
      cursor: pointer;
    }
  }

  &__logo {
    height: 2.5vw;
  }
}

.active-link {
  color: rgb(155, 7, 27);
  border-bottom: .1vw solid rgb(155, 7, 27);
}